{%extends 'dtemp/base.html'%} 
{%load bootstrap3 %}
{% block content %}
<div class="container">
        <div class="row">
            <h1> Car Profile</h1>
            <hr>
          <div class="col-md-6"> 
            {{form.media}}
       
            <form action="{% url 'car_profile' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %} {% bootstrap_form carform %}
              <input type="submit" class="btn btn-success" value="post" >
              <input type="hidden" name="next" value="{{next}}">
            </form>
          
          </div>
        </div>
       </div>
{% endblock %}