{%extends 'dtemp/base.html'%} 
{%load bootstrap3 %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Next Destination...</h1>
        <hr>
      <div class="col-md-6"> 
        {{form.media}}
   
        <form action="{% url 'schedule_ride' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %} {% bootstrap_form scheduleform %}
          <input type="submit" class="btn btn-success" value="post" >
          <input type="hidden" name="next" value="{{next}}">
        </form>
      
      </div>
    </div>
   </div>
{% endblock %}